.home-slogan {
  animation: slide 12s infinite linear;
}

@keyframes slide {
  0% {
    transform: translateX(-80vw);
  }

  10% {
    transform: translateX(-60vw);
  }

  20% {
    transform: translateX(-40vw);
  }

  30% {
    transform: translateX(-20vw);
  }

  40% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(20vw);
  }

  60% {
    transform: translateX(40vw);
  }

  70% {
    transform: translateX(60vw);
  }

  80% {
    transform: translateX(80vw);
  }

  100% {
    transform: translateX(-80vw);
  }
}
